includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined static method Zttp\\Zttp::withHeaders()#'
